@model IEnumerable<MVCExam1.Models.TipoViolazione>

@{
    ViewBag.Title = "Index";
}

<h2>Sezione Violazioni</h2>

<p>
    @Html.ActionLink("Aggiungi Violazione", "CreateVio", null, new {@class="btn btn-warning"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDviolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contestabile)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDviolazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contestabile)
            </td>

        </tr>
    }

</table>
