@model IEnumerable<MVCExam1.Models.Anagrafica>

@{
    ViewBag.Title = "Sezione anagrafica";
}

<h2>Sezione Anagrafica</h2>

<p>
    @Html.ActionLink("Aggiungi Trasgressore", "CreateT", null, new {@class= "btn btn-warning"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDanagrafica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodFisc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDanagrafica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodFisc)
        </td>
    </tr>
}

</table>
